@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Gentium+Plus&family=Open+Sans:ital,wght@0,500;0,600;0,700;1,500;1,800&family=Playball&family=Playfair+Display&family=Roboto+Mono:wght@100&family=Tiro+Devanagari+Sanskrit:ital@1&family=Tiro+Tamil:ital@1&family=Ultra&display=swap');

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
}
body{
 font-family: arial;
}
/* fonts */

html {
  font-size: 100%;
} /*16px*/

/* ROOT*/

:root{
/* some vars */
      --borderRadius: 0.25rem;
      --borderRadius1: 0.5rem;
      --letterSpacing: 1px;
      --transition: 0.3s ease-in-out all;
      --transition1: 0.7s ease-in-out all;
      --textColor: var(--grey-900);
       --max-width: 1120px;  
   --fixed-width: 600px;/* i don't understand yet*/ 

      /* color elements  */
          /* blue */
  --primary-10: #e2e0ff;
  --primary-20: #c1beff;
  --primary-30: #a29dff;
  --primary-40: #837dff;
  --primary-50: #645cff;
  --primary-60: #504acc;
  --primary-70: #3c3799;
  --primary-80: #282566;
  --primary-90: #141233;
--blue: rgba(33, 69, 231, 0.9);
        /* grey */

  --grey-5: #f8fafc;
  --grey-10: #f1f5f9;
  --grey-20: #e2e8f0;
  --grey-30: #cbd5e1;
  --grey-40: #94a3b8;
  --grey-50: #64748b;
  --grey-60: #475569;
  --grey-70: #334155;
  --grey-80: #1e293b;
  --grey-90: #0f172a;

/* just colors  
   red */
--red-10:rgb(255,160,122);
--red-20:#ff6347;
--red-30:rgb(254,111,94);
--red-40:rgb(206,32,41);
 --black: #222;
 --white: #fff;
 --red-light: #f8d7da;
 --red-dark: #842029;
 --green-light: #d1e7dd;
 --green-dark: #0f5132;

 

 /* fonts  */
 --primary-font: 'Roboto', sans-serif;

  /* linear gradient */
  /* directions:to top right, to bottom right, to right etc */

  --primarygradient-10:linear-gradient(90deg, rgba(36,0,27,1) 0%, rgba(39,0,18,1) 0%, rgba(121,9,34,1) 0%, rgba(255,184,0,1) 100%);
  --primarygradient-20: linear-gradient(0deg, rgb(51, 73, 202) 0%, rgb(112, 110, 105) 100%);
  --primarygradient-30: linear-gradient( to right, hsl(17, 82%, 38%), rgb(199, 216, 50));
  --primarygradient-40: linear-gradient( to right, hsl(231, 62%, 62%), rgb(216, 50, 208));
  --primarygradient-50: linear-gradient( to right, hsl(231, 57%, 60%), rgb(13, 206, 206), hsl(231, 57%, 60%));
  --primarygradient-60: linear-gradient(0deg, rgba(218,185,191,1) 0%, rgba(193,42,48,1) 100%);
  --primarygradient-70:linear-gradient(90deg, rgba(36,0,27,1) 0%, rgba(39,0,18,1) 0%, rgba(214,116,138,1) 0%, rgba(222,187,95,1) 100%);
  --primarygradient-80:linear-gradient(90deg, rgba(36,0,27,1) 0%, rgba(62,46,54,1) 0%, rgba(129,74,86,1) 0%, rgba(169,108,72,1) 38%, rgba(128,116,86,1) 100%);
  --primarygradient-90:linear-gradient(90deg, rgba(36,0,27,1) 0%, rgba(167,130,180,1) 0%, rgba(129,74,86,1) 0%, rgba(232,211,240,1) 0%, rgba(173,114,218,1) 56%, rgba(174,212,73,1) 100%);
  

  
/* transitions */


/* box shadow */
--shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
--shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
  0 2px 4px -1px rgba(0, 0, 0, 0.06);
--shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
  0 4px 6px -2px rgba(0, 0, 0, 0.05);
--shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
  0 10px 10px -5px rgba(0, 0, 0, 0.04);
}
h1 {
    margin-top: 0;
    font-size: 3.052rem;
  }
  
  h2 {
    font-size: 2.441rem;
  }
  
  h3 {
    font-size: 1.953rem;
  }
  
  h4 {
    font-size: 1.563rem;
  }
  
  h5 {
    font-size: 1.25rem;
  }
  a {
    text-decoration: none;
  }
  p{
    color: gray;

  }
  h1,h2,h3,h4,h5,h6{
    color: rgb(65, 64, 64);
  }
/* web */
.container{
    margin: 0 auto;
    width: 95vw;
}
/* nav */

.navigation{
display: flex;
justify-content: space-between;
align-items: center;
height: 4.5rem;

/*height:29px; */
background:rgb(255, 255, 255);
width: 95vw;
position: fixed;
 z-index: 10000;
}

 /* main */
 main{
  padding-top: 7rem; 
 }

/* logo */
.logo span{
    font-family:  serif;
   font-weight: bolder;
   font-size: larger;
   text-transform: capitalize;
}
/* nav links */
.navlinks{
    display: flex;
    justify-content: space-between;
    width: 300px;
    height: auto;
}
.menu-link{
    text-align: center;
  font-size: small;
  font-size: 1rem;
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing); 
  color: var(--grey-60);

}
  .menu-link:hover{
    color: var(--primary-40) ;
  }
  /* resume */
 
  /* .menu-contact{
    margin-left: auto;
  } */
  .btn {
    cursor: pointer;
    color: var(--white);
    background:  rgba(0, 0, 0, 0.9);
    border: transparent;
    border-radius: var(--borderRadius);
    letter-spacing: var(--letterSpacing);
    padding: 0.495rem 0.95rem;
    box-shadow: var(--shadow-1);
    transition: var(--transtion);
    text-transform: capitalize;
    display: inline-block;
  }
  .btn:hover {
    box-shadow: var(--shadow-3);
  }
  #adde{
    display: flex;
    align-items: center;
    gap: 5px;
  }

  /* one */
.mainone{
    display: flex;
    gap: 30px;
    /* padding-bottom: 100px; */
    margin-bottom: 150px;
}
.maintwo p{
  color: rgb(65, 64, 64);
}
.picture{
   order: 2;
   width: 50%;
} 
.picture img{
    border-radius: 10px;
    height: 600px;
}
 .text{
    order: 1;
padding-top: 50px;
}
.text h1{
    margin-bottom: 20px;
}
.intro{
    width: 50%;
    display: flex;
    flex-direction: row;
   align-content: space-between;
   padding: 50px 0;
}
.email{
margin-top: 20px;}
.email input{
    width: 55%;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid gray;
   
}
.email button{
    width: 25%;
    padding: 15px 10px;
    border-radius: 9px;
    border: none;
    background: black;
    color: white;
    margin-top: 10px; 

}

#cond {
margin-top: 5px;
}
#cond , a{
    color: gray;

}
/* maintwo */
.maintwo{
    margin-top: 50px;
}
.maintwo p{
    text-align: center;
    font-weight: bold;
    font-size: large;
}
.clients{
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content:space-between ;
    align-items: center;
   height: auto;
}
/* main three */
.mainthree{
  width: 85%;
  margin: 0 auto;
  margin-bottom: 100px;
}
.mainthree, .mainfour {
    margin-top: 30px;
    text-align: center;
}
.mainthree h4{
    margin-bottom: 10px;
}
.ido p{
    font-size: 20px;
}
.stuffs{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}
.stuff{
  margin-bottom: 40px;
}
.stuff p{
    font-size: 17px;
}
/* four */
.he{
    grid-template-columns: repeat(4, 1fr);
}
.now{
width: 500px;
margin: 0 auto;
}
.now h2{
  margin-bottom: 30px;
}
.uni{
  text-align: center;
  margin-bottom: 80px;
}
.fourstuff{
    text-align: left;
}
.fourstuff button{
    margin-top: 13px;
    padding: 7px;
    border: none;
    background: black;
    color: white;
    border-radius: 7px;
}
.fourstuff img{
    box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.97);
    -webkit-box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.97);
    -moz-box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.97);
    border-radius: 5px;
}
.fourstuff h5{
    font-weight: bolder;
    font-size:22px;
    margin-bottom: 6px;
}
/* fifth */
.lol{
  margin-top: 50px;
}
.one{
  width: 60%;
}
.one p{
  margin-top: 30px;
  margin-bottom: 30px;
}
.two{
  width: 40%;
}
.ic{
  display: flex;
  align-items: center;
  margin-top: 15px;
}
.ic a{
  margin-right: 5px;
  color: rgb(0, 0, 0);
  font-size: 14px;
}
#wof{
  width: 400px;
}
.ic .bu{
  margin-right: 8px;
}
.ic img{
  border-radius: 5px;
}
/* al */

.alo{
  text-align: center;
  margin-top: 30px;
}
.alo h1{
  margin-bottom: 20px;
}
.small{
  padding-top: 70px;
}
.small img{
 width: 290px;
 height: 320px;
}
.addi {
  width: 80%;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 200px;

}
.addi .intro{
  margin-bottom: 20px;
}
.tpd{
  margin: 15px 0;
}

/*  */
.caff p{
  color: rgb(185, 181, 181);
}


/*
=============== 
footer
===============
*/
footer{
border: none;
border-top: 1px solid var(--grey-30);
width: 90%;
margin: 0 auto;
margin-top: 30px;
}
.footer{
  height: 100px;
 display: flex;
 align-items: center;
 justify-content: center;
}
.footer .clac{
  display: flex;
  align-items: center;
  width: 50%;
  height: 50px;
  
}
.footer .navlinks{
  width: 50%;
margin: 0 auto;
display: flex;
align-items: center;
justify-content: end;
height: 40px;

}
.side{
  /* height: 100%; */
display: flex;
justify-content: space-between;
align-items: center;
  width: 70%;
}
.side a{
  font-size: 14px;
}

/* 8 */
.maintwo h2{
text-align: center;
}

/* contact */

.contactus{
  margin-top: 60px;
  display: flex;
  padding: 20px;
  border-radius: 30px;
  gap: 20px;
  /* border: 1px solid rgb(163, 161, 161); */
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.38);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.38);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.38);
}
.conifo{
  width: 40%;
  padding: 50px;
  border-radius: 10px;
  background: rgb(32, 32, 32);
}
.conifo h3{
  color: white;
}
.conifo p{
  margin: 20px 0;
}
.conform{
  width: 60%;
padding: 0 50px;

}
.conci{
  display: flex;
  color: white;
  margin-bottom: 10px;
}
.conci h5{
  margin-left: 10px;
}
.formname{
  display: flex;
  gap: 10px;
  
}
.inp{
  width: 100%;
}

.inp label{
  margin-bottom: 10px;
  display: block;
  color: #3a5aa5;
  text-transform: capitalize;
}
.inp input{
  border: none;
  outline: none;
  padding: 10px;
  width: 100%;
  border-bottom: 1px solid var(--grey-40);
}
.rad{
  display: flex;
}
.rad input{
 width: 20px;
height: 25px;
}
.sameli{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  margin-left: 10px;
}

textarea {
  width: 100%;
  height: 100px;
  padding: 12px 20px;
  border: none;
  border-bottom: 1px solid var(--grey-50);
  font-size: 16px;
  resize: none;
  outline: none;
}

.choco{
  margin-top: 50px;
  font-size: 13PX;
  display: flex;
  justify-content: end;
}
.choco a{
  padding: 0.8rem 1.3rem;
  border-radius: 8px;
  margin-bottom: 40px;
}




@media screen and (max-width: 900px) {
    .container{
        width: 80vw;
        /* margin: 0 auto; */
    }
    .navigation{
      max-width: 80vw;
    }
    .picture{
     
      width: 100%;
   }
    .mainone{
        display: block;
    }
    .email{
        margin-top: 20px;
    }
    .email input{
        width: 100%;
       margin-top: 10px;
       
    }
    .email button{
        width: 100%;
    }
.intro{
    width: 100%;
}
.clients{
    flex-wrap: wrap;
}
.stuffs{
    grid-template-columns: 1fr;
  
}
.one{
  width: 100%;
}
.two{
  width: 100%;
}
.addi{
width: 100%;
}
.contactus{
  display: block;
  
}
.conifo{
  width: 100%;
}
.conform{
  width: 100%;
margin-top: 50px;
}
.formname{
  display: block;
}

.footer{
  display: block;
  padding-top: 20px;
  height: 120px;
}
.footer .clac{
  width: 100%;
  justify-content: center;
}
.footer .navlinks{
  width: 70%;
   justify-content: center;
}
.side{
  width: 90%;
}
}